.actions {
  text-align: center;
  white-space: nowrap;
}

/* Ortak buton stilleri (global CSS’den miras al) */
.button {
  composes: form-button from global;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 500;

  margin-right: 8px;
  /* width: auto; */
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.2s, box-shadow 0.2s;
}
/* //Düzenleme butonu */
.iconButton {
  background: none; /* arkaplan yok */
  border: none; /* border yok */
  cursor: pointer;
  padding: 4px; /* ikon etrafı boşluk */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.iconButton:hover {
  transform: scale(1.1);
  box-shadow: var(--button-shadow); /* global shadow kullan */
}

.iconButton img {
  width: 14px;
  height: 14px;
}

/* Sil butonu (gradient ve hover efektli) */
.deleteButton {
  composes: form-button from global;
  background: var(--button-gradient);
  border-radius: 20px;
  width: 69px;
  height: 29px;

  color: var(--font-color-white);
}
