.mainLayout {
  display: flex;
  min-height: 100vh;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
}

/* Sidebar container */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 69px;
}


.leftColumn,
.rightColumn {
  width: 100%;
}

/* Tabların göster/gizle mantığı */
.homeTab > *:nth-child(1) {
  display: block;
}

.homeTab > *:nth-child(2),
.homeTab > *:nth-child(3) {
  display: none;
}

.currencyTab > *:nth-child(1) {
  display: none;
}

.currencyTab > *:nth-child(2),
.currencyTab > *:nth-child(3) {
  display: block;
}

/* Tablet ve üzeri */
@media (min-width: 768px) {
  .sidebar {
    flex-direction: row; 
  }

  .leftColumn {
    width: 336px; 
    display: flex;
    flex-direction: column;
    background: none;
    border-right: none;
  }

  .rightColumn {
    width: 336px;
    display: flex;
    flex-direction: column; 
    height: 214px; 
  }

  /* Tab içeriğini göster */
  .homeTab > *:nth-child(1),
  .homeTab > *:nth-child(2),
  .homeTab > *:nth-child(3),
  .currencyTab > *:nth-child(1),
  .currencyTab > *:nth-child(2),
  .currencyTab > *:nth-child(3) {
    display: block;
  }
}
@media (min-width: 768px) and (max-width:1279px){
  .rightColumn > div {
    border-radius: 12px;
    width: 320px;  
    background: rgba(74, 86, 226, 0.1);
    height: 290px;
    box-sizing: border-box;
  }
}
  
@media (min-width: 1280px) {
  .sidebar {
    flex-direction: column; 
    gap: 20px;
    width: 480px;
    height: 640px;
    background: transparent;
    position: relative;
    
  }

  .leftColumn {
    width: 480px; /* Sol sütun genişliği */
    height: 100%; 
  }

  .rightColumn {
    flex: 1; /* Kalan alanı kaplar */
    height: 100%;
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  
}
