.authCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  padding: 20px;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.1);
}

.loginBackground {
  background-image: url("../../../assets/images/mobile-login-background.webp");
  background-size: cover;
  background-position: center;
}

.loginFormTitle {
  font-weight: 400;
  font-size: 19px;
  color: var(--font-color-white);
  font-family: var(--font-family-base);
  padding-top: 7px;
  letter-spacing: 0.5px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 52px;
}

.loginInputWrapper {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.loginFormInput {
  width: 280px;
  height: 35px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--font-color-white-40);
  outline: none;
  padding-left: 54.5px;

  font-family: var(--font-family-base);
  font-size: 18px;
  color: var(--font-color-white-40);
}

.loginInputIcon {
  margin-left: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;
  pointer-events: none;
}

.loginButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.loginFormBlurCenter {
  position: fixed;
  width: 320px;
  height: 320px;
  background-color: rgba(47, 21, 176, 0.73);
  border-radius: 100%;
  transform: translateX(50%);
  top: 30%;
  right: 50%;
}

.authErrorMessage {
  color: var(--red);

  font-family: var(--font-family-base, sans-serif);
  font-size: 0.85rem;
  font-weight: 500;

  margin-top: 10px;
  min-height: 1.3em;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .authCard {
    width: 533px;
    min-height: 570px;
  }

  .loginBackground {
    background-image: url("../../../assets/images/tablet-login-background1x.webp");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-resolution: 2dppx) {
    .loginBackground {
      background-image: url("../../../assets/images/tablet-login-background2x.webp");
    }
  }

  .loginLogoIcon {
    width: 35px;
  }

  .loginFormTitle {
    font-size: 26px;
  }

  .loginFormInput {
    width: 409px;
  }

  .loginButtonWrapper {
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .loginBackground {
    background-image: url("../../../assets/images/desktop-login-background1x.webp");
  }
  @media (min-resolution: 2dppx) {
    .loginBackground {
      background-image: url("../../../assets/images/desktop-login-background2x.webp");
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--font-color-white-40);
}
