/* ---------------- Table Component CSS ---------------- */
.table {
  width: 100%;
  max-width: 1200px; /* Maksimum genişlik sınırı */
  margin: 0 auto; /* Ortala */
  font-family: var(--font-family-base);
  border-collapse: collapse;
  text-align: left;
  color: var(--font-color-white);
  margin-top: 69px;
}

.theadRow {
  background-color: #523b7e99; /* Başlık arka plan mor */
}

.th {
  font-weight: 600;
  font-size: 16px;
  padding: 12px 24px;
  color: var(--font-color-white);
  text-align: center;
}

.thCenter {
  text-align: center;
  padding: 32px;
}

.sortIcon {
  margin-left: 6px; /* Date ile ok arasında boşluk */
}

@media (max-width: 768px) {
  .table {
    max-width: 100%;
    font-size: 14px; /* Yazı biraz küçülsün */
  }

  .theadRow {
    display: none; /* Mobilde başlığı gizle */
  }

  .tr,
  .td {
    display: block;
    width: 100%;
  }

  .td {
    padding: 10px 16px;
    text-align: left;
    border-bottom: 1px solid var(--font-grey-light);
  }
}
