.table {
  width: 100%;
  font-family: var(--font-family-base);

  border-collapse: collapse;
  text-align: left;
  font-family: var(--font-family-base);
  color: var(--font-color-white);
}

.theadRow {
  background-color: #523b7e99; /* başlık arka plan mor */
}

.th {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 16px;
  padding: 12px 24px;

  color: var(--font-color-white); /* başlık yazısı beyaz */
  text-align: center;
}

.thCenter {
  text-align: center;
  padding: 32px;
}
.sortIcon {
  margin-left: 6px; /* Date ile ok arasında boşluk */
}
