.selectorContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.selectorContainer .dropdownControl {
  width: 182px;
  height: 50px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  background: rgba(74, 86, 226, 0.1);
  cursor: pointer;
  box-shadow: none;
}

.selectorContainer .dropdownValue {
  color: #fbfbfb;
  font: 400 16px "Poppins", sans-serif;
}

.selectorContainer .dropdownMenu {
  width: 182px;
  height: 157px;
  border-radius: 8px;
  margin-top: 4px;
  overflow: hidden;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.selectorContainer .dropdownOption {
  font: 400 16px "Poppins", sans-serif;
  color: #fbfbfb;
  background-color: transparent;
  padding: 8px 20px;
}

.selectorContainer .dropdownOption:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.selectorContainer .dropdownValueContainer {
  padding: 0 20px;
}

.selectorContainer .dropdownIndicators {
  padding-right: 20px;
}

/* 🔹 Mobil düzen (max 768px) */
@media (max-width: 768px) {
  .selectorContainer {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* ✅ Sadece mobilde 300px genişlik */
  .selectorContainer .dropdownControl {
    width: 300px;
  }

  
}
