.balanceContainer {
  padding: 8px;
  padding-left: 56px;
  width: 300px;
  height: 80px;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* kenar yumuşatma */
}

/* TABLET */
@media (min-width: 768px){
    .balanceContainer{
    width: 336px;
    height: 80px;
}
}

/* DESKTOP */

@media (min-width: 1280px) {
.balanceContainer {
    width: 480px;
    background: rgba(82, 59, 126, 0.6);
    box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
    margin: 0;
    border-radius: 0px;
}
}